*~
*.log
*.pot
*.pyc
*.db

*/temp.*

static/*

local/*
!__init__.py

##########################################
##  delete the following in production  ##
##########################################

*/fixtures/*
!test.json

content/banners/*
!touch

content/documents/*
!touch

content/images/*
!touch

content/slides/*
!touch

