{% extends "gradebook/root.html" %}

{% block main_content %}
    {% if user.is_staff %}
    <ul class="action_links">
        <li><a href="{% url admin:gradebook_assignmentgrade_changelist %}" target="_blank">Edit</a></li>
    </ul>
    {% endif %}

    {% if assignment %}
    <form action="{% url edit_grades classroom.pk %}" method="post">
        <p>
            <select name="assignment_pk" onChange="this.form.submit()">
                {% for a in classroom.assignment_set.all %}
                <option value="{{ a.pk }}"{% if a.pk == assignment.pk %} selected="selected"{% endif %}>{{ a.label }}</option>
                {% endfor %}
            </select>
            {% if assignment.due_date %}Due date:&nbsp;{{ assignment.due_date }}{% endif %}
            <noscript><input type="submit" value="Submit"></noscript>
            {% csrf_token %}
        </p>
    </form>

    <form action="{% url post_grades classroom.pk assignment.pk %}" method="post">
        <p>
        <table class="grade_table">
            <tr>
                <th>Max</th>
                <td><input name="max_points" type="text" size=2 value="{{ assignment.max_points }}" tabindex="1"></td>
            </tr>
            <tr>
                <th>Curve</th>
                <td><input name="curve_points" type="text" size=2 value="{{ assignment.curve_points }}" tabindex="1"></td>
            </tr>
            <tr>
                <th>Graded?</td>
                <td><input name="is_graded" type="checkbox"{% if assignment.is_graded %} checked{% endif %} tabindex="1"></td>
            </tr>
        </table>
        </p>
        <p>
        <table class="grade_table">
            <tr>
                <th>Name</th>
                <th>Pts</th>
                <th>Xtr</th>
                <th>Ex?</th>
            </tr>
            {% for grade in assignment.grades %}
            <tr>
                <td class="l">{{ grade.student.full_name }}</td>
                <td><input name="earned_points_{{ grade.student.pk }}" type="text" size=2 value="{{ grade.earned_points }}" tabindex="1"></td>
                <td><input name="extra_points_{{ grade.student.pk }}" type="text" size=2 value="{{ grade.extra_points }}"></td>
                <td><input name="is_excused_{{ grade.student.pk }}" type="checkbox"{% if grade.is_excused %} checked{% endif %}></td>
            </tr>
        {% endfor %}
        </table>
        </p>
        <p><input name="submit_grades" type="submit" value="Submit" tabindex="3"></p>
        {% csrf_token %}
    </form>
    {% else %}
    <p>There are no assignments here!</p>
    {% endif %}
{% endblock %}
