{% extends "extension/root.html" %}
{% load restructuredtext_tags %}

{% block main_content %}
    {% if user.is_staff %}
    <ul class="action_links">
        <li><a href="{% url admin:classroom_classroom_change classroom.pk %}" target="_blank">Edit</a></li>
    </ul>
    {% endif %}

    <dl>
        <dt>Instructor</dt><dd>{{ classroom.instructor }}</dd>
        <dt>First day</dt><dd>{{ classroom.first_day }}</dd>
    </dl>

    <h2>Course Overview</h2>
    {{ classroom.overview|rst2html }}

    <div id="scratchpad" onClick="Toggle('scratchpad')">
    <h2>Scratchpad</h2>
    {{ classroom.scratchpad|rst2html }}
    </div>
{% endblock %}
