.hide { 
    display:none; 
}

.l { text-align:left }
.c { text-align:center }
.r { text-align:right }

.horizontal_list li {
    display:inline;
}
.horizontal_list li:after {
    content:" | ";
}
.horizontal_list li:last-child:after {
    content: '';
}

#site_messages {
    margin:5px 0;
    padding:0.5em 2em;
    border:1px solid red;
    background:#FFCCCC;
}
