.hide {
    display:none;
}

.l { text-align:left }
.c { text-align:center }
.r { text-align:right }

.horizontal_list li {
    display:inline;
}
.horizontal_list li:after {
    content:" | ";
}
.horizontal_list li:last-child:after {
    content: '';
}


.action_links {
    float:right;
    margin-top:1em;
    font-size:75%;
    text-transform:uppercase;
    padding:0.5em;
    text-align:center;
    line-height:2em;
}
.action_links li {
    padding:0;
    margin:0;
    display:inline;
}
.action_links a {
    padding:0.3em 1em;
    text-decoration:none;
    color:blue;
    border:1px solid #0000FF;
    background:#EEEEEE;
}
.action_links a:hover {
    background:#FFFF00;
}

#site_messages {
    margin:5px 0;
    padding:0.5em 2em;
    border:1px solid red;
    background:#FFCCCC;
}
