{% extends "docmaker/root.html" %}

{% block main_content %}
    {% if user.is_staff %}
    <ul class="action_links">
        <li><a href="{% url build_all classroom.pk %}">All</a></li>
        <li><a href="{% url admin:app_list 'docmaker' %}" target="_blank">Edit</a></li>
    </ul>
    {% endif %}

    {% if docmakers %}
    <h2>Docmakers</h2>
    {% for docmaker in docmakers %}
    <ul>
        {% if not docmaker.activity_type %}
        <li><a href="{% url build_document classroom.pk docmaker.pk 0 %}">{{ docmaker.label }}</a></li>
        {% endif %}
    </ul>
    {% endfor %}

    <dl>
        {% for block in classroom.activityblock_set.all %}
        <dt>
            {% if block.date %}{{ block.date }}{% else %}{{ block }}{% endif %}
        </dt>
        {% if block.activity_set.all %}
        {% for activity in block.activity_set.all %}
        <dd>{{ activity.label }}{% if activity.title %}: {{ activity.title }}{% endif %}
            {% if activity.activity_type.docmaker_set.all %}
            <ul>
            {% for docmaker in activity.activity_type.docmaker_set.all %}
            <li><a href="{% url build_document classroom.pk docmaker.pk activity.pk %}">{{ docmaker.label }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
        </dd>
        {% endfor %}
        {% else %}
        <dd>
            {{ block.heading }}
        </dd>
        {% endif %}        
        {% endfor %}
    </dl>
    {% else %}
    <p>Sorry, no docmakers here.</p>
    {% endif %}

{% endblock %}