{% extends "docmaker/root.html" %}

{% block main_content %}
    {% if user.is_staff %}
    <ul class="action_links">
        <li><a href="{% url admin:app_list 'docmaker' %}" target="_blank">Edit</a></li>
    </ul>
    {% endif %}

    {% if docmakers %}
    {% for docmaker in docmakers %}
    <h2>{{ docmaker.label|title }}</h2>
    <ul>
        {% for obj in docmaker.objects %}
        <li>{{ obj }}
            <ul>
                {% for doctag, info in obj.docs.items %}
                <li><a href="{% url build_document classroom.pk doctag obj.pk %}">{{ info.context.document_label|title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% else %}
    <p>Sorry, no docmakers here.</p>
    {% endif %}

{% endblock %}