{% extends "docmaker/root.html" %}

{% block main_content %}
    {% if user.is_staff %}
    <ul class="action_links">
        <li><a href="{% url admin:app_list 'docmaker' %}" target="_blank">Edit</a></li>
    </ul>
    {% endif %}

    {% if docmakers %}
    {% for docmaker in docmakers %}
    <h2>{{ docmaker.label }}</h2>
    <ul>
        {% for activity in docmaker.activity_type.activity_set.all %}
        <li><a href="{% url build_document classroom.pk activity.pk docmaker.pk %}">{{ activity.label }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% else %}
    <p>Sorry, no docmakers here.</p>
    {% endif %}

{% endblock %}