{% extends "classroom/root.html" %}

{% block main_content %}
    {% if user.is_staff %}
    <ul class="action_links">
        <li><a href="{% url admin:classroom_student_changelist %}" target="_blank">Edit</a></li>
    </ul>
    {% endif %}

    <h2>Students</h2>

    {% if classroom.student_set.all %}
    <ul>
        {% for student in classroom.student_set.all %}
        <li>{{ student.full_name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No students assigned.</p>
    {% endif %}
{% endblock %}