{% extends "classroom/root.html" %}

{% block main_content %}
    {% if user.is_staff %}
    <ul class="action_links horizontal_list">
        <li><a href="{% url admin:classroom_document_changelist %}" target="_blank">Edit</a></li>
    </ul>
    {% endif %}

    <h2>Documents</h2>

    {% if classroom.documents %}
    <ul>
        {% for document in classroom.documents %}
        {% if document.access_index == 0 or document.access_index == 1 or user.is_staff %}
        {% if document.access_index == 0 or user.is_active %}
        <li><a href="{% url serve_document classroom.pk document.basename %}">{{ document }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% if classroom.activityblock_set.all %}
    <dl>
        {% for block in classroom.activityblock_set.all %}
        <dt>
            {{ block }}{% if block.date %} ({{ block.date }}){% endif %}
        </dt>
        {% if block.activities %}
        {% for activity in block.activities.all %}
        <dd>{{ activity.label }}
            {% if activity.documents %}
            <ul>
                {% for document in activity.documents.all %}
                {% if document.access_index == 0 or document.access_index == 1 or user.is_staff %}
                {% if document.access_index == 0 or user.is_active %}
                <li><a href="{% url serve_document classroom.pk document.basename %}">{{ document }}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </dd>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </dl>
    {% else %}
    <p>No activities have been scheduled.</p>
    {% endif %}
{% endblock %}
