{% extends "classroom/root.html" %}

{% block main_content %}
    {% if user.is_staff %}
    <ul class="action_links horizontal_list">
        <li><a href="{% url admin:classroom_activityblock_changelist %}" target="_blank">Edit</a></li>
    </ul>
    {% endif %}

    <h2>Schedule</h2>
    {% if classroom.activityblock_set.all %}
    <dl>
        {% for block in classroom.activityblock_set.all %}
        <dt>
            {{ block }}{% if block.date %} ({{ block.date }}){% endif %}
        </dt>
        {% if block.activities %}
        {% for activity in block.activities.all %}
        <dd>{{ activity.label }}</dd>
        {% endfor %}
        {% endif %}
        </li>
        {% endfor %}
    </dl>
    {% else %}
    <p>No activities have been scheduled.</p>
    {% endif %}
{% endblock %}