body { 
    background:#FFFFFF; 
    max-width:600px; 
    margin:0 auto;
    padding:8px; 
}
header { 
    background:#EEEEEE; 
    border:1px solid blue; 
    padding:2em; 
    text-align:center; 
}
header input[type="text"] {
    width:100%;
    text-align:center;
}
dt {
    font-weight:bold;
    margin-top:1em;
}
dd {
    margin-left:0;
}
textarea {
    width:90%;
}
footer { 
    clear:both; 
}

#main_content {}
#side_content {}

@media screen and (min-width:480px) {
    #main_content { 
        width:67%; 
        float:left; 
        margin-left:8px; 
        border-right:1px solid blue;
    }
    #side_content { 
        width:25%; 
        float:left; 
        margin-right:8px;
        padding-left:1em;
    }

}
